<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="To https" stopProcessing="true">
                    <match url="(.*)" />
                    <serverVariables>
                    </serverVariables>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                </rule>
                <rule name="to ws">
                    <match url="(^ws/)(.*)" />
                    <conditions>
                        <add input="{CACHE_URL}" pattern="^(http|ws)s://" />
                    </conditions>
                    <action type="Rewrite" url="{C1}://itemper.vading.lan:3000/ws/{R:2}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
